Source: pn-defaut-xpp-config
Section: unknown
Priority: optional
Maintainer: Maximilian Weigand <mweigand@mweigand.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/pn-defaut-xpp-config
#Vcs-Git: https://salsa.debian.org/debian/pn-defaut-xpp-config.git

Package: pn-defaut-xpp-config
Architecture: all
Depends:
 ${misc:Depends},
Description: Xournalpp configuration for the PineNote
 <Insert long description, indented with spaces.>
