pn-tweak-libinput-touch-arbitration_*_all.deb
pn-tweak-libinput-touch-arbitration_*.buildinfo
pn-tweak-libinput-touch-arbitration_*.changes
pn-tweak-libinput-touch-arbitration_*.dsc
pn-tweak-libinput-touch-arbitration_*.tar.xz
