Source: pn-default-documents
Section: unknown
Priority: optional
Maintainer: Maximilian Weigand <mweigand@koko>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/pn-default-documents
#Vcs-Git: https://salsa.debian.org/debian/pn-default-documents.git

Package: pn-default-documents
Architecture: all
Depends:
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
