Source: pn-suspend-on-cover
Section: unknown
Priority: optional
Maintainer: Maximilian Weigand <mweigand@mweigand.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/pinenote-suspend-on-cover
#Vcs-Git: https://salsa.debian.org/debian/pinenote-suspend-on-cover.git

Package: pn-suspend-on-cover
Architecture: all
Depends:
 ${misc:Depends},
Description: Suspend the PineNote when the cover is closed.
 <Insert long description, indented with spaces.>
